/* App.css */
/* .App-header {
  position: relative;
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.profile-icon-button {
  position: relative;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.profile-icon-button i {
  font-size: 24px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.profile-icon-button:hover i {
  color: #4CAF50;
} */


.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
}

/* Align the text to the left */
.header-text {
  flex-grow: 1;
}

.header-text h1 {
  font-size: 2.5em;
  margin: 0;
}

.header-text p {
  font-size: 1.2em;
  margin: 0;
}

/* Container for icons */
.header-icons {
  display: flex;
  align-items: center;
}

/* Styles for profile and logout buttons */
.profile-icon-button, .logout-icon-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  margin-left: 15px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.profile-icon-button:hover, .logout-icon-button:hover {
  color: #61dafb;
}

/* Specific margin adjustments for better alignment */
.profile-icon-button {
  margin-right: 10px;
}

.logout-icon-button {
  margin-left: 10px;
}