.jobCard {
  background-color: #fff;
  width: 300px;
  max-width: 85vw;
  height: 400px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: grab;
  user-select: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.jobCard h2 {
  margin: 0;
  font-size: 24px;
}

.jobCard h3 {
  margin: 10px 0;
  font-size: 20px;
  color: #555;
}

.jobCard p {
  margin: 5px 0;
  font-size: 16px;
}
